:root {
  --color-text: #333;
  --color-main: #fff;
  --color-site: #9D5CD0;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold-webfont.woff') format('woff'),
    url('../fonts/opensans-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

div {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1608px;
  margin: 0 auto;
}

/*header*/

.header {
  height: 100px;
  background: #000;
  position: relative;
  z-index: 55;
}

.header__top-menu {
  display: flex;
  align-items: center;
  background: #000;
  min-height: 100px;
}

.header__burger {
  display: none;
}

.header__logo {
  margin-right: 177px;
}

.header__logo:focus {
  outline: 2px solid var(--color-site);
}

.header__nav {
  margin-right: 290px;
}

.nav__list {
  display: flex;
}

.nav__list li:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  display: block;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
  transition: color .3s ease;
}

.nav__link:not(:last-child) {
  margin-right: 62px;
}

.nav__link:focus {
  outline: 2px solid var(--color-site);
}

.nav__link:hover {
  color: #C283F3;
}

.nav__link:focus:active {
  color: #7943A4;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__login:focus {
  outline: 2px solid #7943A4;
}

.header__login::before {
  display: block;
  content: url('../images/Vector.svg');
  width: 13px;
  height: 13px;
  display: block;
  margin-right: 10px;
  transition: filter .3s ease;
}

.header__login:hover:before {
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
  -webkit-filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.header__login:active:before {
  filter: invert(75%) sepia(36%) saturate(7001%) hue-rotate(261deg) brightness(103%) contrast(104%);
}

.login__link {
  font-size: 18px;
  line-height: 25px;
  color: var(--color-main);
  transition: color .3s ease;
}

.login__link:hover {
  color: #C283F3;
}

.login__link:active {
  color: #9D5CD0;
}

.login__link:focus {
  outline: none;
}

.container-menu {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  height: 70px;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 55;
}

.topmenu>li {
  display: inline-block;
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: color .3s ease;
  cursor: pointer;
}

.topmenu>li:hover {
  color: var(--color-site);
}

.topmenu>li:focus {
  outline: 2px solid #7943A4;
}

.topmenu>li:after {
  display: block;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
  right: -20px;
  top: 6px;
  z-index: 55;
  transform: rotate(-46deg);
  transition: border .3s ease;
}

.topmenu>li:hover:after {
  display: block;
  transform: rotate(134deg);
  top: 12px;
  border-left: 1px solid var(--color-site);
  border-bottom: 1px solid var(--color-site);
}

.topmenu>li:not(:last-child) {
  margin-right: 119px;
}

.topmenu__submenu {
  padding: 40px 0 40px 40px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 46px;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 300px;
  height: 300px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease;
}

.topmenu__submenu li {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 220px;
  min-height: 40px;
  padding-left: 14px;
  color: #fff;
}

[name=Tintoretto] {
  background: url(../images/Rectangle1.jpg);
}

[name=Fridrih] {
  background: url(../images/Rectangle2.jpg);
}

[name=Leonardo] {
  background: url(../images/Rectangle3.jpg);
}

[name=Verrokko] {
  background: url(../images/Rectangle4.jpg);
}

[name=Mone] {
  background: url(../images/Rectangle5.jpg);
}

[name=Sislej] {
  background: url(../images/Rectangle6.jpg);
}

[name=Mane] {
  background: url(../images/Rectangle7.jpg);
}

[name=Renuar] {
  background: url(../images/Rectangle8.jpg);
}

[name=VanGog] {
  background: url(../images/Rectangle9.jpg);
}

[name=Sezann] {
  background: url(../images/Rectangle10.jpg);
}

[name=Gogen] {
  background: url(../images/Rectangle11.jpg);
}

[name=Syora] {
  background: url(../images/Rectangle12.jpg);
}

[name=Kandinskij] {
  background: url(../images/Rectangle13.jpg);
}

[name=Marinetti] {
  background: url(../images/Rectangle14.jpg);
}

[name=Malevich] {
  background: url(../images/Rectangle15.jpg);
}

[name=Pikasso] {
  background: url(../images/Rectangle16.jpg);
}

[name=Karra] {
  background: url(../images/Rectangle17.jpg);
}

[name=Pratella] {
  background: url(../images/Rectangle18.jpg);
}

[name=Severini] {
  background: url(../images/Rectangle19.jpg);
}

[name=Balla] {
  background: url(../images/Rectangle20.jpg);
}

.topmenu__submenu li:hover {
  border: 2px solid #9D5CD0;
}

.topmenu__submenu li:active {
  background: rgba(255, 255, 255, 0.33)
}

.topmenu__submenu li:not(:last-child) {
  margin-bottom: 20px;
}

.topmenu>li:hover .topmenu__submenu {
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}

.form {
  position: relative;
  display: flex;
  width: 252px;
}

.header__form {
  margin-left: 325px;
}

.header__form:focus {
  outline: 2px solid #7943A4;
  padding: 2px;
}

.header__form:after {
  content: '';
  width: 218px;
  height: 1px;
  position: absolute;
  top: 23px;
  left: 35px;
  z-index: 15;
  background-color: var(--color-main);
  transition: background-color .3s ease;
}

.form__btn {
  display: block;
  background: url('../images/Group\ 64.svg');
  width: 22.1px;
  height: 21.62px;
  border: none;
  outline: none;
  margin-right: 14px;
  transition: filter .3s ease;
}

.header__form:hover .form__btn {
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.header__form:hover:after {
  background-color: #C283F3;
}

.form__input {
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--color-main);
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar {
  display: block !important;
  background: var(--color-site);
  z-index: 22;
  height: 28px !important;
  width: 2px;
}

.simplebar-vertical {
  visibility: visible !important;
  width: 2px !important;
  height: 220px !important;
  background: #000;
  margin-top: 40px;
}

.simplebar-track.simplebar-vertical {
  visibility: visible !important;
}

.simplebar-track {
  margin-right: 19px;
}

/*Hero Block */

@keyframes anim {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 115% 115%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.hero {
  background: transparent url('../images/birmingham-museums1.png') no-repeat center center;
  ;
  min-height: 700px;
  animation: anim 20s alternate linear infinite;
}

.hero__inner {
  max-width: 597px;
  min-height: 192px;
  font-weight: bold;
  color: var(--color-main);
  padding-top: 140px;
}

.hero__title {
  font-size: 72px;
  line-height: 87px;
  letter-spacing: 3px;
  margin-bottom: 14px;
}

.hero__title:focus {
  outline: 2px solid #9D5CD0;
}

.hero__text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.7px;
  margin-left: 2px;
  margin-bottom: 91px;
}

.hero__btn {
  display: flex;
  align-items: center;
  padding: 22.5px 35px;
  width: 314px;
  min-height: 70px;
  background: var(--color-site);
  color: var(--color-main);
  border-radius: 100px;
  letter-spacing: 2px;
  transition: border .3s ease;
}

.hero__btn:hover {
  border: 3px solid #D1A9F0;
  letter-spacing: 2px;
}

.hero__btn:focus {
  border: 3px solid #D1A9F0;
  border-radius: 100px;
  outline: none;
}

.hero__btn:active {
  border: 3px solid #D1A9F0;
  border-radius: 100px;
  background: #7943A4;
  letter-spacing: 2px;
}
