:root {
  --dark-color: #333;
  --light-color: #fff;
  --hover-color: #C283F3;
  --focus-color: #7943A4;
  --site-color: #9D5CD0;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1608px;
  margin: 0 auto;
}

/*header*/

.header {
  width: 100%;
  height: 100px;
  background: #000;
  position: relative;
  z-index: 55;
}

.header__top-menu {
  display: flex;
  align-items: center;
  background: #000;
}

.burger {
  display: none;
}

.header__logo {
  margin-right: 183px;
  padding-left: 4px;
  width: 175px;
  height: 42px;
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  display: block;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  color: var(--light-color);
  transition: color .3s ease;
  padding: 40px 0;
}

.nav__link:focus {
  outline: 2px solid var(--site-color);
}

.nav__link:focus:not(:focus-visible) {
  outline: none;
}

.nav__link:hover {
  color: var(--hover-color);
}

.nav__link:focus:active {
  color: var(--focus-color);
}

.header__login {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3px;
  font-size: 18px;
  line-height: 25px;
  color: var(--light-color);
  transition: color .3s ease;
}

.header__login:hover {
  color: var(--hover-color);
}

.header__login:active {
  color: #9D5CD0;
}

.header__login:focus {
  outline: 2px solid var(--focus-color);
}

.header__login:not(:focus-visible) {
  outline: none;
}

.header__login::before {
  display: block;
  content: url('../images/Vector.svg');
  width: 13px;
  height: 13px;
  display: block;
  margin-right: 7px;
  margin-bottom: 13px;
  transition: filter .3s ease;
}

.header__login:hover:before {
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
  -webkit-filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.header__login:active:before {
  filter: invert(75%) sepia(36%) saturate(7001%) hue-rotate(261deg) brightness(103%) contrast(104%);
}

.container-menu {
  display: flex;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 55;
}

.topmenu__item {
  display: inline-block;
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: color .3s ease;
  cursor: pointer;
  padding: 23px 0;
}

.topmenu__item:hover {
  color: var(--site-color);
}

.topmenu__arrow {
  margin-bottom: 2px;
}

.topmenu__item:hover .topmenu__arrow {
  transform: rotate(180deg);
  margin-bottom: -2px;
}

.topmenu__item:hover .topmenu__arrow path {
  stroke: var(--focus-color);
}

.topmenu__item:focus {
  outline: 2px solid var(--focus-color);
}

.topmenu__item:focus:not(:focus-visible) {
  outline: none;
}

.topmenu__item:not(:last-child) {
  margin-right: 93px;
}

.submenu {
  display: none;
  padding: 40px 0 40px 40px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 5;
  width: 300px;
  max-height: 280px;
}

.open {
  display: block;
}

.submenu__item {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 220px;
  min-height: 40px;
  padding-left: 14px;
  color: #fff;
}

.submenu__item:focus {
  outline: 2px solid var(--site-color);
}

.submenu__item:focus:not(:focus-visible) {
  outline: none;
}

[id="1"],
[id="5"] {
  background: url(../images/Rectangle1.jpg);
}

[id="2"],
[id="6"] {
  background: url(../images/Rectangle2.jpg);
}

[id="3"] {
  background: url(../images/Rectangle3.jpg);
}

[id="4"] {
  background: url(../images/Rectangle4.jpg);
}

[id="7"],
[id="11"] {
  background: url(../images/Rectangle5.jpg);
}

[id="8"],
[id="12"] {
  background: url(../images/Rectangle6.jpg);
}

[id="9"] {
  background: url(../images/Rectangle7.jpg);
}

[id="10"] {
  background: url(../images/Rectangle8.jpg);
}

[id="13"],
[id="17"] {
  background: url(../images/Rectangle9.jpg);
}

[id="14"],
[id="18"] {
  background: url(../images/Rectangle10.jpg);
}

[id="15"] {
  background: url(../images/Rectangle11.jpg);
}

[id="16"] {
  background: url(../images/Rectangle12.jpg);
}

[id="19"],
[id="23"] {
  background: url(../images/Rectangle13.jpg);
}

[id="20"],
[id="24"] {
  background: url(../images/Rectangle14.jpg);
}

[id="21"] {
  background: url(../images/Rectangle15.jpg);
}

[id="22"] {
  background: url(../images/Rectangle16.jpg);
}

[id="25"],
[id="29"] {
  background: url(../images/Rectangle17.jpg);
}

[id="26"] {
  background: url(../images/Rectangle18.jpg);
}

[id="27"] {
  background: url(../images/Rectangle19.jpg);
}

[id="28"] {
  background: url(../images/Rectangle20.jpg);
}

.submenu__item:hover {
  outline: 2px solid #9D5CD0;
}

.submenu__item:active {
  background: rgba(255, 255, 255, 0.33)
}

.submenu__item:not(:last-child) {
  margin-bottom: 20px;
}

.header__form {
  margin: auto 0;
  padding-bottom: 5px;
}

.form {
  position: relative;
  display: flex;
  margin-left: auto;
  width: 252px;
}

.header-form:not(:focus-visible) {
  outline: none;
}

.header__form:focus {
  outline: 2px solid var(--focus-color);
}

.header__form:after {
  content: '';
  width: 218px;
  height: 1px;
  position: absolute;
  top: 31px;
  left: 30px;
  z-index: 15;
  background-color: var(--light-color);
  transition: background-color .3s ease;
}

.form__btn {
  display: inline-block;
  background: url('../images/Group\ 64.svg');
  width: 22.1px;
  height: 21.62px;
  border: none;
  outline: none;
  transition: filter .3s ease;
  margin: 10px 3px 0 -3px;
}

.header__form:hover .form__btn {
  filter: invert(10%) sepia(23%) saturate(2285%) hue-rotate(252deg) brightness(101%) contrast(46%);
}

.header__form:hover:after {
  background-color: var(--hover-color);
}

.form__input {
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--light-color);
  margin-top: 5px;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  padding-left: 5px;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar {
  display: block !important;
  background: var(--site-color);
  z-index: 22;
  width: 2px;
}

.simplebar-vertical {
  visibility: visible !important;
  width: 1px !important;
  height: 220px !important;
  background: #000;
  margin-top: 40px;
}

.simplebar-track.simplebar-vertical {
  visibility: visible !important;
}

.simplebar-track {
  margin-right: 19px;
}

/*Hero Block */

/* @keyframes anim {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 115% 115%;
  }

  100% {
    background-size: 100% 100%;
  }
} */

.hero {
  background: transparent url('../images/birmingham-museums1.png') no-repeat center center;
  min-height: 700px;
  animation: anim 20s alternate linear infinite;
}

.hero__inner {
  max-width: 597px;
  min-height: 192px;
  color: var(--light-color);
  padding-top: 141px;
}

.hidden {
  display: none;
}

.hero__title {
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 18px;
}

.hero__title:focus {
  outline: 2px solid #9D5CD0;
}

.hero__text {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 89px;
  margin-left: 5px;
  font-weight: 700;
}

.hero__btn {
  display: flex;
  align-items: center;
  padding: 23px 32px;
  background: var(--site-color);
  color: var(--light-color);
  border-radius: 100px;
  transition: border .3s ease;
  border: 3px solid transparent;
  font-weight: bold;
  font-size: 18px;
  margin-left: 4px;
}

.hero__btn:hover {
  border: 3px solid #D1A9F0;
}

.hero__btn:focus {
  border: 3px solid #D1A9F0;
  border-radius: 100px;
  outline: none;
}

.hero__btn:active {
  border: 3px solid #D1A9F0;
  border-radius: 100px;
  background: var(--focus-color);
}

/*Info block*/

.container-info-block {
  padding: 81px 0 70px 0;
}

.site-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: var(--dark-color);
}

.data__title {
  margin-bottom: 15px;
}

.data__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--dark-color);
  width: 1086px;
  line-height: 32px;
  padding-left: 3px;
}

/*gallery*/

.container-gallery {
  position: relative;
  display: flex;
  padding: 80px 0 60px 2px;
}

.gallery {
  background: url('../images/background-katalog.png');
  min-height: 995px;
}

.gallery__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
  color: var(--light-color);
  margin-bottom: 17px;
}

.gallery__filter {
  display: inline-block;
  margin-bottom: 479px;
}

.filter__span {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-color);
  margin-bottom: 7px;
}

.choices__inner {
  display: flex;
  align-items: center;
  background: transparent;
  width: 400px;
  height: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-color);
  border-radius: 6px;
  padding-left: 9px;
  border: 1px solid var(--light-color) !important;
}

.choices__item--selectable {
  width: 100%;
}

.choices__list--dropdown .choices__item {
  padding: 0 20px;
  font-size: 16px;
}

.is-open .choices__inner {
  border: 1px solid var(--light-color);
}

.choices__list.choices__list--dropdown {
  position: relative;
  z-index: 4;
  left: 0;
  bottom: -1px;
  background: transparent;
  width: 400px;
  font-weight: normal;
  line-height: 32px;
  color: #999999;
  border: 1px solid #999999;
  padding: 4px 0;
  border-radius: 6px;
}

.choices__list--dropdown.is-active::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 0px;
  width: 400px;
  height: 1px;
  background: #999;
}

.choices__item.choices__item--choice.is-selected.choices__item--selectable {
  display: none;
}

.is-highlighted {
  background-color: transparent !important;
}

/* стрелка */

.choices[data-type*=select-one]:after,
.choices.is-focused.is-open::after {
  right: 0;
  left: 375px;
  width: 7.07px;
  height: 7.07px;
  border-style: none;
  border-left: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
  margin-top: 0;
  transform: rotate(-46deg);
}

.choices[data-type*=select-one]:after {
  top: 18px;
  transform: rotate(-46deg);
}

.choices.is-focused.is-open::after {
  top: 23px;
  transform: rotate(134deg);
}

.gallery__remark {
  display: block;
  margin: auto 0;
  width: 401px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-color);
}

.gallery__authorization {
  background-color: transparent;
  color: var(--hover-color);
  padding: 2px 5px;
  outline: none;
}

.gallery__swiper {
  position: absolute;
  margin: 24px 0 24px 52px;
}

.swiper-container {
  width: 1150px;
  height: 830px;
  position: static !important;
}

.swiper__navigation {
  margin-bottom: 61px;
}

.swiper__pages {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  color: var(--light-color);
  margin-left: 52px;
  margin-top: 7px;
}

.swiper-slide {
  position: relative;
  width: 350px;
  height: 350px;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  top: 0;
  width: 30px;
  height: 30px;
  background: #666;
  border-radius: 14px;
  outline: none;
  border: 2px solid transparent;
  margin-top: 0;
}

.swiper-button-next {
  left: 104px;
  transition: all .4s ease;
}

.swiper-button-prev {
  left: 4px;
  transition: all .4s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  color: var(--light-color);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  border: 2px solid #D1A9F0;
  background-color: var(--focus-color);
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  border: 2px solid var(--focus-color);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--site-color);
}

.swiper-slide:focus {
  outline: 3px solid #7943A4;
}

.swiper-slide:not(:focus-visible) {
  outline: none;
}

.swiper-slide:hover .swiper-slide__loupe {
  opacity: 0.5;
}

.swiper-slide__loupe {
  display: block;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0);
  opacity: 0;
  transition: opacity .4s ease;
}

.swiper-slide__loupe:before {
  content: url('../images/Group12.svg');
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 57;
  transition: opacity .4s ease;
}

.swiper-slide__loupe:active {
  opacity: 0.5;
}

.swiper-slide__inner {
  display: inline-block;
  position: relative;
}

.swiper-slide__inner:active:after {
  content: "";
  display: block;
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  outline: 2px solid #D1A9F0;
}

/*catalog*/

.container-catalog {
  padding: 82px 0 80px 0;
}

.catalog__nav {
  display: flex;
  margin-bottom: 13px;
}

.catalog__title {
  margin-right: 44px;
}

.tabs__list {
  display: flex;
  align-items: center;
}

.tabs__item:not(:last-child) {
  margin-right: 50px;
}

.tabs__item {
  position: relative;
}

.tabs__item-active:after {
  position: absolute;
  width: 63px;
  height: 63px;
  content: '';
  top: -11px;
  left: -11px;
  border: 2px solid var(--site-color);
  border-radius: 50%;
  z-index: 55;
}

.tabs__btn {
  display: block;
  width: 46px;
  height: 46px;
}

.tabs__btn:focus {
  outline: none;
  border: 2px solid var(--site-color);
  border-radius: 50%;
}

.tabs__btn:hover {
  border: 2px solid var(--site-color);
  border-radius: 50%;
}

.tabs__btn:not(:focus-visible) {
  outline: none;
}

[data-path="one"] {
  background: url('../images/image4.jpg');
}

[data-path="two"] {
  background: url('../images/image6.jpg');
}

[data-path="three"] {
  background: url('../images/image7.jpg');
}

[data-path="four"] {
  background: url('../images/image8.jpg');
}

[data-path="five"] {
  background: url('../images/image5.jpg');
}

.catalog__info {
  margin-bottom: 40px;
}

.tabs-container {
  display: flex;
}

.tabs__doer {
  padding-left: 5px;
}

.tabs__content {
  width: 50%;
  padding-right: 50px;
}

.doer__photo {
  margin-bottom: 31px;
  width: 750px;
  height: 470px;
  object-fit: cover;
}

.doer__fullName {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  margin-bottom: 12px;
}

.doer__dateOfBirth {
  font-weight: normal;
  font-size: 12px;
  color: #999999;
  margin-bottom: 8px;
}

.doer__info {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.tabs__accordion {
  width: 50%;
}

.accordion__dropdown-container {
  overflow: hidden;
}

.accordion__heading {
  display: flex;
  justify-content: space-between;
}

.first-dropdown {
  border-top: 1px solid #CACACA;
}

.accordion__dropdown-container.open .accordion__heading {
  border-bottom: 1px solid var(--site-color);
}

.accordion__dropdown-container.open .accordion__body {
  border-bottom: 1px solid var(--site-color);
}

.accordion__subtitle {
  position: relative;
  padding: 41px 0 45px 0;
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  cursor: pointer;
  transition: color .35s ease;
}

.accordion__subtitle:focus:after {
  position: absolute;
  display: block;
  content: '';
  outline: 2px solid var(--focus-color);
  width: 211px;
  height: 67px;
  top: 20px;
  left: 2px;
}

.accordion__subtitle:focus {
  outline: none;
}

.accordion__subtitle:hover,
.accordion__subtitle:active {
  color: var(--site-color);
}

.accordion__icon {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  background: #ECECEC;
  border-radius: 50%;
  outline: none;
  border: 2px solid transparent;
  transform: rotate(135deg);
  transition: all .35s ease-in-out;
  cursor: pointer;
  margin: 30px 2px 0 0;
}

.accordion__icon:focus {
  border: 2px solid var(--focus-color);
}

.accordion__icon:hover {
  background: var(--site-color);
}

.accordion__icon:active {
  background: var(--focus-color);
}

.accordion__icon:hover:after {
  border-top: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
}

.accordion__icon:after {
  position: absolute;
  top: 19px;
  left: 13px;
  display: block;
  content: '';
  width: 11.79px;
  height: 11.79px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transition: all .35s ease-in-out;
}

.accordion__dropdown-container.open .accordion__icon {
  transform: rotate(-45deg);
}

.accordion__body {
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  transition: max-height 350ms ease-in-out;
  border-bottom: 1px solid #CACACA;
}

.accordion__table {
  width: 90%;
}

.accordion__td {
  position: relative;
  padding-bottom: 12px;
  cursor: pointer;
  transition: color .35s ease-in-out;
}

.active-td {
  color: var(--focus-color);
}

.accordion__td:hover {
  color: var(--focus-color);
}

.accordion__td:hover:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 180px;
  background: var(--focus-color);
  top: 19px;
  left: 0;
}

.accordion__td:active {
  color: var(--site-color);
}

.accordion__td:focus {
 outline: 2px solid var(--focus-color);
}

.accordion__td:not(:focus-visible){
  outline: none;
}

.accordion__td:active:after {
  display: none;
}

.accordion__inner {
  display: none;
  padding: 30px 0 21px 0;
  transition: all 11s ease;
}

.accordion__inner-active {
  display: block;
}

.accordion__td:nth-child(1) {
  padding-right: 26px;
}

.accordion__td:nth-child(2) {
  padding-right: 42px;
}

td {
  empty-cells: hide; 
}
